blinker
click
flask
flask-cors
flask-mysqldb
gunicorn
itsdangerous
jinja2
joblib
markupsafe
mysqlclient
numpy
packaging
pandas
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
threadpoolctl
tzdata
werkzeug
